In [1]:
from sensor.utils.main_utils import read_yaml_file

In [2]:
file_path = '/Users/shubhamkumar/INDUSTRY_READY_ML_PROJECT/sensor_fault_prediction/config/schema.yaml'

In [4]:
schema_config = read_yaml_file(file_path=file_path)

In [7]:
len(schema_config['columns'])

164

In [1]:
from scipy.stats import ks_2samp

In [2]:
import numpy as np

In [20]:
d1 = np.arange(5,15)
d2 = np.arange(10)

In [21]:
d1

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [22]:
d2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [23]:
ks_2samp(d1, d2)

KstestResult(statistic=0.5, pvalue=0.16782134274394334)

In [24]:
test_file_path = '/Users/shubhamkumar/INDUSTRY_READY_ML_PROJECT/sensor_fault_prediction/artifact/11_03_2022_20_40_11/data_ingestion/ingested/test.csv'

In [25]:
train_file_path = '/Users/shubhamkumar/INDUSTRY_READY_ML_PROJECT/sensor_fault_prediction/artifact/11_03_2022_20_40_11/data_ingestion/ingested/train.csv'

In [26]:
import pandas as pd

In [27]:
train_df = pd.read_csv(train_file_path)

In [28]:
test_df = pd.read_csv(test_file_path)

In [29]:
train_df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,1368,NaN,16.0,16.0,0.0,0.0,0.0,0.0,0.0,...,7070.0,4288.0,7720.0,7426.0,11294.0,21392.0,190.0,0.0,0.0,0.0
1,neg,26,NaN,16.0,12.0,0.0,0.0,0.0,0.0,0.0,...,588.0,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,neg,39086,NaN,246.0,220.0,0.0,0.0,0.0,0.0,0.0,...,232702.0,138230.0,328520.0,249692.0,205402.0,156436.0,281236.0,5292.0,0.0,0.0
3,neg,41340,NaN,90.0,86.0,0.0,0.0,0.0,0.0,0.0,...,461612.0,220818.0,426838.0,310464.0,239506.0,162142.0,100822.0,10.0,0.0,0.0
4,neg,201044,NaN,1136.0,962.0,0.0,0.0,0.0,0.0,0.0,...,1716440.0,822570.0,1622446.0,1373298.0,1373638.0,983650.0,1080586.0,2544.0,0.0,0.0

In [30]:
test_df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,8,NaN,18.0,16.0,0.0,0.0,0.0,0.0,0.0,...,50.0,6.0,10.0,18.0,24.0,52.0,0.0,0.0,0.0,0.0
1,neg,26528,0.0,240.0,NaN,0.0,0.0,0.0,0.0,0.0,...,583900.0,238650.0,370286.0,49190.0,20130.0,23534.0,96.0,0.0,0.0,0.0
2,neg,1698,2.0,56.0,36.0,0.0,0.0,0.0,15148.0,68414.0,...,7842.0,5848.0,28710.0,24098.0,9458.0,1994.0,0.0,0.0,0.0,0.0
3,neg,38102,NaN,256.0,244.0,0.0,0.0,0.0,0.0,0.0,...,294974.0,156650.0,385610.0,368236.0,346012.0,132772.0,38666.0,0.0,0.0,0.0
4,neg,56778,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,563342.0,318118.0,755536.0,603788.0,222902.0,82500.0,82452.0,1398.0,0.0,0.0

In [31]:
train_df.columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [32]:
train_df.shape

(28000, 171)

In [33]:
test_df.shape

(7001, 171)

In [34]:
d1 = train_df['aa_000']
d2 = test_df['aa_000']

In [35]:
ks_2samp(d1,d2)

KstestResult(statistic=0.00858880364029635, pvalue=0.7997214243014856)

In [2]:
from sensor.ml.model.estimator import TargetValueMapping

In [3]:
TargetValueMapping().to_dict()

{'neg': 0, 'pos': 1}

In [4]:
TargetValueMapping().reverse_mapping()

{0: 'neg', 1: 'pos'}

In [1]:
from datetime import datetime

In [5]:
datetime.now()

datetime.datetime(2022, 11, 7, 12, 54, 4, 59724)

In [11]:
round(datetime.now().timestamp())

1667805893